<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <c:url var="add_emp_url" value="/employees/add-emp" />
    <form:form
      action="${add_emp_url}"
      id="employeeForm"
      method="post"
      modelAttribute="employee"
    >
      <form:label path="emp_id">ID: </form:label>
      <form:input type="text" id="emp_id" path="emp_id" />
      <span id="id_error"></span>
      <form:label path="email">Email: </form:label>
      <form:input type="email" id="email" path="email" />
      <span id="email_error"></span>
      <form:label path="name">Employee Name: </form:label>
      <form:input type="text" id="name" path="name" />
      <span id="name_error"></span>
      <form:label path="phone_number">Phone number: </form:label>
      <form:input type="number" id="phone" path="phone_number" />
      <span id="phone_error"></span>
      <form:label path="position">Position: </form:label>
      <form:select path="position" id="position">
        <form:option value="" label="-- Select Position --" />
        <form:options
          items="${positionList}"
          itemLabel="displayValue"
          itemValue="displayValue"
        />
      </form:select>
      <span id="position_error"></span>

      <input type="submit" value="submit" />
    </form:form>

    <form
      action="${add_emp_url}"
      id="employeeForm"
      method="post"
      modelAttribute="employee"
    >
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mb-6">
          <label
            for="emp_id"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >ID</label
          >
          <input
            type="text"
            id="emp_id"
            class="bg-gray-50 text- border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
          <span id="id_error"></span>
        </div>
        <div class="mb-6">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Employee Name</label
          >
          <input
            type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
          <span id="name_error"></span>
        </div>
        <div class="mb-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Email</label
          >
          <input
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
          <span id="email_error"></span>
        </div>
        <div>
          <label
            for="phone-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Phone number:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 19 18"
              >
                <path
                  d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
                />
              </svg>
            </div>
            <input
              type="text"
              id="phone-input"
              aria-describedby="helper-text-explanation"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              placeholder="123-456-7890"
              required
            />
            <span id="phone_error"></span>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email address</label
        >
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <label
          for="position"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select an option</label
        >
        <select
          id="position"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>-- Select Position --</option>
          <c:forEach items="${positionList}" var="pos">
            <option value="${pos.displayValue}">${pos.displayValue}</option>
          </c:forEach>
        </select>
        <span id="position_error"></span>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>

    <script>
        document.getElementById('deleted_form').addEventListener('click',function (event) {
            event.preventDefault();
            
        })
    </script>
</body>
</html>